@using LibroManager.DTOs

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">ISBN:</dt>
            <dd class="col-sm-8">@Libro.ISBN</dd>

            <dt class="col-sm-4">Autor:</dt>
            <dd class="col-sm-8">@Libro.AutorNombre</dd>

            <dt class="col-sm-4">Categoría:</dt>
            <dd class="col-sm-8">@Libro.CategoriaNombre</dd>

            <dt class="col-sm-4">Ejemplares:</dt>
            <dd class="col-sm-8">@CantidadEjemplares</dd>
        </dl>
    </div>
</div>

@code {
    [Parameter]
    public LibroDTO Libro { get; set; } = default!;

    [Parameter]
    public int CantidadEjemplares { get; set; }
}